<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/enlem/RestAssured_5"><classes><class name="Rest_1.Test_01_Get"><methods><include name="test_01"/><include name="test_02"/></methods></class></classes></test></suite>